<div id="logo" class="container">
  <h1><a href="#" class="icon icon-spinner"><span>SquareAway</span></a></h1>
</div>
<div id="header">
  <div id="menu" class="container">
    <ul>
      <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
      <li><a href="#" accesskey="1" title="">Services</a></li>
      <li><a href="#" accesskey="2" title="">Our Clients</a></li>
      <li><a href="#" accesskey="3" title="">About Us</a></li>
      <li><a href="#" accesskey="4" title="">Careers</a></li>
      <li><a href="#" accesskey="5" title="">Contact Us</a></li>
    </ul>
  </div>
</div>
