{% extends "base.html" %}
{% block content %}
<!-- Main -->
<div id="main">

	<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2>{{ article.title }}</h2>
				{% if article.metadata.get('subtitle', None) %}
				<p>{{ article.metadata['subtitle'] }}</p>
				{% endif %}
			</div>
			<div class="meta">
				<time class="published" datetime="{{ article.date }}">{{ article.date.strftime('%B %d, %Y') }}</time>
				<a href="{{ article.author.url }}" class="author"><span class="name">{{ article.author.name }}</span></a>
			</div>
		</header>

		{% if article.metadata.get('image_src', None) %}
		<span class="image featured"><img src="{{ article.metadata.get('image_src') }}"
				alt="{{ article.metadata.get('image_title') }}" style="max-height: 60vh;" /></span>

		{% endif %}
		<p>{{ article.content }}
		</p>
		<footer>
			{% include "mixins/_article_footer_stats.html" %}
		</footer>
	</article>

</div>


</div>

{% endblock content %}

{% block footer %}
{% include "mixins/_footer.html" %}

{% endblock footer %}
