backend:
  name: git-gateway
  branch: master
  publish_mode: editorial_workflow
media_folder: "content/images"
public_folder: "/images"

collections:
  - name: "posts"
    label: "Blog Post"
    folder: "content"
    create: true
    format: yaml-frontmatter
    extension: md
    sort: "date:desc"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template", name: "template", widget: "hidden", default: "article"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "date"}
      - {label: "Image", name: "image_src", widget: "image"}
      - {label: "Category", name: "category", widget: "string"}
      - {label: "Tags", name: "tags", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "pages"
    label: "Pages"
    folder: "content/pages"
    create: true
    format: yaml-frontmatter
    extension: md
    sort: "date:desc"
    slug: "{{slug}}"
    fields:
      - label: "Template"
        name: "template"
        widget: "select"
        options: ["article", "page", "about"]
        default: "page"
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string"}
      - {label: "Image", name: "image_src", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
