<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SquareAway 
Description: A four-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130804

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% include "mixins/_head.html" %}
</head>

<body>
  <header>
    {% include "mixins/_header.html" %}
  </header>
  {% block content %}

  {% endblock content %}
  {% block footer %}
  
  {% endblock footer %}
  {% include "mixins/_footer.html" %}
</body>
